





































































































































































































































ReMedi/backend/node_modules/
ReMedi/frontend/node_modules/
ReMedi/backend/.env
ReMedi/frontend/.env
